/*Reset CSS */
*{
    margin 0;
    padding 0;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

/* Header */
header{
    background-color: #0e78be;
    color: #ffffff;
    height: 90px;
}
.header-logo{
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}
.header-nav li{
    float: left;
    padding: 35px 20px;
}

/* MAIN CONTENT*/
main{
    padding: 100px 80px;
}
.main-cointainer h1{
    font-size: 95px;
}
.main-cointainer span{
    color: #d40909;
}


.contents{
    height: 500px;
    margin-top: 100px;
}

.contents h3{
    font-size: 30px;
    padding-bottom: 15px;
    margin-bottom: 50px; 
}
.contents h4{
    font-size: 25px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}
.contents h5{
    font-size: 25px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}
.contents h6{
    font-size: 25px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}
.contents p{
    font-size: 25px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}
.contents-item{
    float: left;
    margin-right: 40px;
}

.contents-img{
        width: 300px;
        height: 300px;
        padding:10px;
        background-color: #d40909;
}
.contents-img img{
    width: 300px;
}
.contents-item p{
    font-size: 24px;
    margin-top: 30px;
    text-align: center;
}


.contact{
    padding-top: 350px;
}

input, textarea{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #cecece;
}
.contact-submit{
    background-color: #059605;
    color: #ffffff;
    cursor: pointer;
}
.txt-red{
    color: #d40909;
}

footer{
    background-color: #2f5167;
    color: #ffffff;
    padding: 20px 40px;
    height: 30px;
    margin-top: 500px;
}

.footer-logo{
    float: left;
    font-size: 30px;
}

.footer-nav{
    float: right;
}
.footer-nav li{
    padding: 10px 20px;
    float: left;
}